
<launch>
  <arg name="gpu" default="false"/>
  <arg name="organize_cloud" default="false"/>
  <!--trực quan hóa dữ liệu trong rviz sử dụng robot_state_publisher-->
   <!-- publish robot state-->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" /> <!--tần số công bố thông số của robot-->
  </node>
    <!-- publish joint state-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 
  <node pkg ="gazebo_pid" type="gazebo_pid_node" name="pid_control_node" output="screen" launch-prefix="gnome-terminal --command">
		<rosparam command="load" file="$(find carmodel_description)/config/config.yaml"/>
	</node>
  <!-- phan da them tuy nhien chua thay dung-->
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_frame" value="map"/>
  </node>
 <param command="$(find xacro)/xacro '$(find carmodel_description)/urdf/bot_description.xacro' organize_cloud:=$(arg organize_cloud) gpu:=$(arg gpu) " name="robot_description"/>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model bot_description -x $(arg x) -y $(arg y) -z $(arg z)" />
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>



<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find slam_project)/worlds/kitchen_dining.world"/> -->
    <arg name="world_name" value="$(find carmodel_description)/world/user_created.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  <arg name="rviz" default="true"/>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find carmodel_description)/launch/example.rviz" />
</launch>